

div.Nav li {
  float: right;
  background-color: #dddddd;
  text-decoration: none;
  list-style: none;
}

div.Nav li a {
  display: block;
  padding: 20px;

  background-color: #dddddd;
}

.active {
  color: green;
}
